@font-face {
    font-family: 'formula1display-regular';
    src: url('./fonte/formula1-regular-1-webfont.woff2') format('woff2'),
         url('./fonte/formula1-regular-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(./Imagens/wallpaper.jpeg);
    background-repeat: unset;
    i
}

table {
    border-collapse: collapse;
    overflow: hidden;

}

tr {
    border: 1px solid transparent;
    background-color: #ffffff;
}

td {
    border: 1px solid transparent;
    background-color: #ffffff;
}
.tamanhotabelaCampeonatoPilotoseEquipes{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    border-radius: 10px;
    overflow: hidden;
}
.tamanhotabelaCampeonatoCosntrutores{
    padding-left: 17px;
    padding-right: 17px;
    overflow: hidden;
    border-radius: 10px;
}
.tamanhotabelaCampeonatoPilotos{
    padding-left: 14px;
    padding-right: 32px;
    overflow: hidden;
    border-radius: 10px;
}
.tamanhotabelapontos{
    padding-left: 121px;
    padding-right: 121px;
    padding-top: 9px;
    padding-bottom: 9px;
    overflow: hidden;
    border-radius: 10px;
}
.tamanhotabela{
    padding-left: 16.5px;
    padding-right: 16.5px;
    overflow: hidden;
    border-radius: 10px;
}
.tamanhotabelaConstrutores{
    padding-left: 22px;
    padding-right: 22px;
    overflow: hidden;
    border-radius: 10px;
}
.tamanhotabelaConstrutoresaustralia{
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.topmenu {
    width: 100%;
    position: absolute;
    top: 0 auto;
    background-image: linear-gradient(to left, #003063, #FF0100);
    padding: 0;
    font-family: 'formula1display-regular';
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.CampeonatoPilotos {
    position: absolute;
    padding-top: 100px;
    padding-left: 210px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.piloto {
    width: 30px;
    margin-right: 10px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.equipe {
    width: 30px;
    margin-right: 10px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.PilotoseEquipes {
    position: absolute;
    padding-top: 100px;
    padding-left: 1290px;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.Construtores {
    position: absolute;
    padding-top: 100px;
    padding-left: 570px;
    width: 800px;
    margin: 0 auto;
     overflow: hidden;
    border-radius: 10px;

}

.Pontuacao {
    position: absolute;
    padding-top: 100px;
    padding-left: 930px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.bahrein {
    position: absolute;
    padding-top: 500px;
    padding-left: 210px;
    margin: 0 auto;
    border-radius: 10px;
    
}

.construtoresbahrein {
    position: absolute;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.ArabiaSaudita {
    position: absolute;
    padding-top: 500px;
    padding-left: 570px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.posarabia {
    position: absolute;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.Australia {
    position: relative;
    padding-left: 360px;
    bottom: 392px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.posaustralia {
    position: absolute;
    padding-top: 11px;
    padding-left: 360px;
    bottom: 42px;
    margin: 0 auto;
}

.imgfia {
    float: left;
    width: 100px;
    height: 60px;
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
}

.imgf1 {
    width: 120px;
    height: 90px;
    position: absolute;
    padding-left: 1780px;
}

.bandeira{
    width: 10px;
    height: 5px;
}